
body, div, span, a {

    padding: 0;
    margin: 0;
    border: 0;

}

html {

    height: 100%;
    width: 100%;

}

body {

    width: 100%;
    height: 100%;
    color: grey;
    font-size: 20pt;

}

video, canvas {
    width: 310px;
    height: 225px;
}

#webcam-input/*, #canvas-source*/ {
    display: none;
}

.statistics, #videos {
    
}

body > header > h1, #videos, #action-btns {
    text-align: center;
}